/* Custom CSS for icon toggling in mobile menu */
details[open] > summary #menuIcon {
    display: none;
}

details:not([open]) > summary #closeIcon {
    display: none;
}

details[open] > summary #closeIcon {
    display: inline-block;
}